<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message sender</title>
</head>
<body>
    <h1>This web page shows the process of secure messaging by encrypting the message using Diffie-Hellman key exchange</h1>
    <div>
        <form action="/encrypt" method="get">
            <label>User name:</label>
            <input type="text" name="username" id="txtUserName">
            <input type="submit" value="Encrypt text">
        </form>
    </div>
</body>
</html>